[submodule "results-summary-component"]
	path = results-summary-component
	url = https://github.com/krenedits/results-summary-component.git
[submodule "ping-coming-soon-page-master"]
	path = ping-coming-soon-page-master
	url = https://github.com/krenedits/ping-single-column-coming-soon-page.git
[submodule "rest-countries"]
	path = rest-countries
	url = https://github.com/krenedits/rest-countries.git
[submodule "advice-generator"]
	path = advice-generator
	url = https://github.com/krenedits/advice-generator.git
[submodule "ip-address-tracker-master"]
	path = ip-address-tracker-master
	url = https://github.com/krenedits/ip-address-tracker.git
